{% extends "base.html" %}

{% block title %}Logowanie{% endblock %}

{% block content %}
    <h1>Logowanie</h1>
    {% if form.errors %}
        <p>
            Nazwa użytkownika lub hasło są nieprawidłowe.
            Spróbuj ponownie.
        </p>
    {% else %}
        <p>
            Wypełnij poniższy formularz, aby się zalogować:
        </p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Zaloguj"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?</a></p>
        <p><a href="{% url "register" %}">Nie masz jeszcze konta? Zarejestruj się!</a></p>
    </div>
{% endblock %}
{##}
{#<div class="dropdown-menu">#}
{#  <form class="px-4 py-3">#}
{#    <div class="form-group">#}
{#      <label for="exampleDropdownFormEmail1">Email address</label>#}
{#      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">#}
{#    </div>#}
{#    <div class="form-group">#}
{#      <label for="exampleDropdownFormPassword1">Password</label>#}
{#      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">#}
{#    </div>#}
{#    <div class="form-check">#}
{#      <input type="checkbox" class="form-check-input" id="dropdownCheck">#}
{#      <label class="form-check-label" for="dropdownCheck">#}
{#        Remember me#}
{#      </label>#}
{#    </div>#}
{#    <button type="submit" class="btn btn-primary">Sign in</button>#}
{#  </form>#}
{#  <div class="dropdown-divider"></div>#}
{#  <a class="dropdown-item" href="{% url "register" %}">Nie masz jeszcze konta? Zarejestruj się!</a>#}
{#  <a class="dropdown-item" href="{% url "password_reset" %}">Zapomniałeś hasła?</a>#}
{#</div>#}