{% extends "base.html" %}

{% block title %}Panel główny{% endblock %}

{% block content %}
    <h1>Po co mi kolejna aplikacja do nauki???</h1>
    <p>Aplikacja służy do nauki języka angielskiego przez czytanie książek.<br />
        Podstawowa pomoc aplikacji to znalezienie najczęściej używanych słów w książce <br />
        i zrobienie z nich fiszek.<br />
        Użytkownik po nauczeniu się tych słówek przystępuje do czytania książki. W ten <br />
        sposób łatwiej jest zapamiętać nowe słówka i wychwycić z kontekstu pozostałe, <br />
        których się nie uczyliśmy.
    </p>
{% endblock %}
