{% extends 'base.html' %}

{% block content %}
  <ul>
    <li>
      <a href="{% url 'model_form_upload' %}">Model Form Upload</a>
    </li>
  </ul>

  <p>Uploaded files:</p>
  <ul>
    {% for obj in documents %}
      <li>
        <a href="/top-100?name_doc={{ obj.document.name }}">{{ obj.document.name }}</a>
        <small>(Uploaded at: {{ obj.uploaded_at }})</small>
          <small>(ID: {{ obj.id }})</small>
        <button value="top_words">Generuj fiszki</button>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
